List
----

1. List is Collection Of Data Type. It will store Multiple Different Datatype Values can store in single variable
2. It will be declare [ ]

In [1]:
a = [10, 'Sam', 25, 9500912258, True]

print(a, type(a))

[10, 'Sam', 25, 9500912258, True] <class 'list'>

Select a value using Indexing
-----------------------------

In [6]:
a = [10, 'Sam', 25, 9500912258, True, [88, 99, 98]] 

print(a, type(a))

print('---------------------------------------------------')

print(a[1], type(a[1]))

print(a[3], type(a[3]))

print('---------------------------------------------------')

print(a[5], type(a[5]))

print(a[-1], type(a[-1]))

[10, 'Sam', 25, 9500912258, True, [88, 99, 98]] <class 'list'>
---------------------------------------------------
Sam <class 'str'>
9500912258 <class 'int'>
---------------------------------------------------
[88, 99, 98] <class 'list'>
[88, 99, 98] <class 'list'>

Example - 1
-----------

In [13]:
a  = [10, 'Sam', 25, 9500912258, True, [88, 99, 98]] 

print(a)

print('---------------------------------------------------')

print('Student Id : ', a[0])

print('Name : ', a[1])

print('Age : ', a[2])

print('Mobile : ', a[3])

print('Married : ', a[4])

print('Marks : ', a[5])

print('---------------------------------------------------')

print('Mark 01 : ', a[5] [0])

print('Mark 02 : ', a[5] [1])

print('Mark 03 : ', a[5] [2])

[10, 'Sam', 25, 9500912258, True, [88, 99, 98]]
---------------------------------------------------
Student Id :  10
Name :  Sam
Age :  25
Mobile :  9500912258
Married :  True
Marks :  [88, 99, 98]
---------------------------------------------------
Mark 01 :  88
Mark 02 :  99
Mark 03 :  98

List Slicing
------------

variableName [starting Index Position : Ending Index Position - 1 ]

In [20]:
a  = [10, 'Sam', 25, 9500912258, True, [88, 99, 98]] 

print(a)

print('---------------------------------------------------')

print(a[0:3])

print(a[3:5])

print(a[4:])

print(a[:4])

print(a[::-1])

[10, 'Sam', 25, 9500912258, True, [88, 99, 98]]
---------------------------------------------------
[10, 'Sam', 25]
[9500912258, True]
[True, [88, 99, 98]]
[10, 'Sam', 25, 9500912258]
[[88, 99, 98], True, 9500912258, 25, 'Sam', 10]