Tuple 
-----

1. Tuple is Collection Of Data Type. It will store Multiple Different Datatype Values can store in single variable
2. It will be declare ( )
3. Tuple immutable

In [2]:
age = (21,32,33,12,42,12,1,3,14,)

print(age, type(age))

(21, 32, 33, 12, 42, 12, 1, 3, 14) <class 'tuple'>

Add values In Tuple Data type using Typecasting method
------------------------------------------------------

In [5]:
# Type Casting

a = 10

b = 25.5

print(a, type(a))

print(b, type(b))

print('---------------------------------------------------------')

a = float(a)

b = int(b)

print(a, type(a))

print(b, type(b))

10 <class 'int'>
25.5 <class 'float'>
---------------------------------------------------------
10.0 <class 'float'>
25 <class 'int'>

In [11]:
age = (21,32,33,12,42,12,1,3,14,)

print(age, type(age))

print('---------------------------------------------------------')

age = list(age)

print(age, type(age))

age.append('Sample Data')
age

print(age)

print('---------------------------------------------------------')

age = tuple(age)

print(age, type(age))

(21, 32, 33, 12, 42, 12, 1, 3, 14) <class 'tuple'>
---------------------------------------------------------
[21, 32, 33, 12, 42, 12, 1, 3, 14] <class 'list'>
[21, 32, 33, 12, 42, 12, 1, 3, 14, 'Sample Data']
---------------------------------------------------------
(21, 32, 33, 12, 42, 12, 1, 3, 14, 'Sample Data') <class 'tuple'>

For Loop in Tuple Data type variable
------------------------------------

In [12]:
age = (21,32,33,12,42,12,1,3,14,)

print(age, type(age))

print('---------------------------------------------------------')

for i in age:
    print(i)

(21, 32, 33, 12, 42, 12, 1, 3, 14) <class 'tuple'>
---------------------------------------------------------
21
32
33
12
42
12
1
3
14

In [15]:
age = (21,32,33,12,42,12,1,3,14,)

print(age, type(age))

print('---------------------------------------------------------')

if 21 in age:
    print('age is there')

else:
    print('No values are there')

(21, 32, 33, 12, 42, 12, 1, 3, 14) <class 'tuple'>
---------------------------------------------------------
age is there