Function
--------

1. Function is a block of code. Which only runs when it is called

# 1. No return type with Out Argument
-------------------------------------

In [3]:
# Function Creation

def sum():
    print('Welcome Session')

print('----------------------------------------------------------------')

# Call the function

sum()

sum()

sum()

----------------------------------------------------------------
Welcome Session
Welcome Session
Welcome Session

In [4]:
# Function Creation

def sum():
    a = int(input('Enter a value 01 : '))
    b = int(input('Enter a value 02 : '))

    print(a, ' + ', b, ' = ', a + b)
    print('')

print('----------------------------------------------------------------')

# Call the function

sum()

sum()

sum()

----------------------------------------------------------------

Enter a value 01 :  23
Enter a value 02 :  21

23  +  21  =  44

Enter a value 01 :  22
Enter a value 02 :  33

22  +  33  =  55

Enter a value 01 :  44
Enter a value 02 :  55

44  +  55  =  99

# 2. No Return Type With Argument
---------------------------------

In [5]:
# Function Creation

def sum(a, b):
    print(a, ' + ', b, ' = ', a + b)
    print('')

print('----------------------------------------------------------------')

# Call the function

sum(10, 20)

sum(22, 33)

sum(44, 55)

----------------------------------------------------------------
10  +  20  =  30

22  +  33  =  55

44  +  55  =  99

# 3. Return Type With out Argument
----------------------------------

In [7]:

# Function Creation

def sum():
    a = int(input('Enter a value 01 : '))
    b = int(input('Enter a value 02 : '))
    c = a + b
    
    return c

print('----------------------------------------------------------------')

# Call the function

print('Use Print Statement ', sum())

answer = sum()

print('Variable ', answer)

----------------------------------------------------------------

Enter a value 01 :  22
Enter a value 02 :  33

Use Print Statement  55

Enter a value 01 :  11
Enter a value 02 :  22

Variable  33

# 4. Return Type with Argument
------------------------------

In [8]:

# Function Creation

def sum(a, b):
    c = a + b
    
    return c

print('----------------------------------------------------------------')

# Call the function

print('Use Print Statement ', sum(21, 32))

answer = sum(10,20)

print('Variable ', answer)

----------------------------------------------------------------
Use Print Statement  53
Variable  30

In [ ]:
'''
ToDay Work
----------

How to the python code for below output Using Python Function

Output 01: Using No Return type With Argument
----------

Sara you age is 25
Dev you age is 22

Output 02: Using return type with argument

10 + 10 = 20
10 - 10 = 0
10 * 10 = 100
10 / 10 = 1
'''

Functions Methods:
------------------

# 01. Aribtrary Argument Function
---------------------------------

In [7]:
def details(*detail):
    print(detail, type(detail))

print('------------------------------------------------')

details('Sara', 25, 'male')

details('Developer', 27, 'Female')

------------------------------------------------
('Sara', 25, 'male') <class 'tuple'>
('Developer', 27, 'Female') <class 'tuple'>

# 02. Keyword Argument Function
-------------------------------

In [11]:
def details(name, age, gender):
    print(name, ' - ', age, ' - ', gender)

print('------------------------------------------------')

details(name = 'Sara', gender =  'male', age =  25)

details(name = 'Developer', age = 27, gender = 'Female')

------------------------------------------------
Sara  -  25  -  male
Developer  -  27  -  Female

# 03. Keyword Arbitrary Argument Function
-----------------------------------------

In [12]:
def details(**detail):
    print(detail, type(detail))

print('------------------------------------------------')

details(name = 'Sara', gender =  'male', age =  25)

details(name = 'Developer', age = 27, gender = 'Female')

------------------------------------------------
{'name': 'Sara', 'gender': 'male', 'age': 25} <class 'dict'>
{'name': 'Developer', 'age': 27, 'gender': 'Female'} <class 'dict'>

# 04. Default Parameter Argument Function:
------------------------------------------

In [14]:
def details(name, age, gender, state = 'TamilNadu'):
    print(name, ' - ', age, ' - ', gender, ' - ', state)

print('------------------------------------------------')

details(name = 'Sara', gender =  'male', age =  25, state = 'Kerala')

details(name = 'Developer', age = 27, gender = 'Female')

------------------------------------------------
Sara  -  25  -  male  -  Kerala
Developer  -  27  -  Female  -  TamilNadu