Set
---

1. Set is Collection Of Data Type. It will store Multiple Different Datatype Values can store in single variable
2. It will be declare { }
3. Set Date type is used for remove duplicate values
4. The values cannot store index based type

In [1]:
age = {18, 20, 32, 18, 25, 18, 20, 23, 25, 18}

print(age, type(age))

{32, 18, 20, 23, 25} <class 'set'>

Add the values after variable declaration
-----------------------------------------

In [9]:
studentDetails = {10, 'Sara', 25}

print(studentDetails)

print('----------------------------------')

studentDetails.add('male')

print(studentDetails)

{25, 10, 'Sara'}
----------------------------------
{25, 10, 'Sara', 'male'}

In [12]:

# Add Multiple values

studentDetails = {10, 'Sara', 25}

studentMarkDetails = {80, 89, 88, 90, 78}

print(studentDetails)

print(studentMarkDetails)

print('----------------------------------')

studentDetails.update(studentMarkDetails)

print(studentDetails)

{25, 10, 'Sara'}
{80, 88, 89, 90, 78}
----------------------------------
{89, 10, 'Sara', 78, 80, 88, 25, 90}

Remove the Values:
------------------

In [18]:
studentDetails = {10, 'Sara', 25, 'Female', 'TN'} 

print(studentDetails)

print('----------------------------------')

# Using Remove method

studentDetails.remove(10)

print(studentDetails)

print('----------------------------------')

# Using Discard method

studentDetails.discard('Sara')

print(studentDetails)

print('----------------------------------')

print('Difference between remove() & discard()')
print('---------------------------------------')

studentDetails = {10, 'Sara', 25, 'Female', 'TN'} 

print(studentDetails)

# Using Discard method

studentDetails.discard('Chennai')

print(studentDetails)

# Using Remove method

studentDetails.remove('Chennai')

print(studentDetails)

{'Female', 25, 10, 'Sara', 'TN'}
----------------------------------
{'Female', 25, 'Sara', 'TN'}
----------------------------------
{'Female', 25, 'TN'}
----------------------------------
Difference between remove() & discard()
---------------------------------------
{'Female', 25, 10, 'Sara', 'TN'}
{'Female', 25, 10, 'Sara', 'TN'}

KeyError: 'Chennai'

In [ ]:
'''
Self Learn Topics in  Set Data Type
-----------------------------------

1. union
2. union all
3. intersect
4. symmetric difference

'''