Function Creation in Class:
---------------------------

In [4]:
class Student:
    name = 'Sara'
    age = 25 

    def details():
        print(Student.name, ' your age is ', Student.age)

Call the Function from Class:
-----------------------------

In [8]:
# Dot (.) Notation Method

Student.details()

# Get Attribute Method

getattr(Student, 'details')()

Sara  your age is  25
Sara  your age is  25

Object Creation:
----------------

In [13]:
class Student:
    name = 'Sara'
    age = 25 

    def details(self):
        print(Student.name, ' your age is ', Student.age)

print('-----------------------------------------------------------')

stud01 = Student()

-----------------------------------------------------------

Call the variable using Object:
-------------------------------

In [14]:
print(stud01.name, ' your age is ', stud01.age)

Sara  your age is  25

Call the Function using Object:
-------------------------------

In [15]:
stud01.details()

Sara  your age is  25

Use of Self Parameter:
----------------------

In [20]:
class Student:
    name = 'Sara'
    age = 25 

    def details(self):
        print(self.name, ' your age is ', self.age)

print('-----------------------------------------------------------')

stud01 = Student()

-----------------------------------------------------------

In [21]:
stud01.details()

print('-----------------------------------------------------------')

# Class variable Value change using Object

stud01.name = 'Developer'

stud01.age = 29

print('-----------------------------------------------------------')

stud01.details()

Sara  your age is  25
-----------------------------------------------------------
-----------------------------------------------------------
Developer  your age is  29

In [22]:
# Create Onther Object for Student Class

print('-----------------------------------------------------------')

stud02 = Student()

stud02.details()

print('-----------------------------------------------------------')

# Class variable Value change using Object

stud02.name = 'Admin'

stud02.age = 22

print('-----------------------------------------------------------')

stud02.details()

-----------------------------------------------------------
Sara  your age is  25
-----------------------------------------------------------
-----------------------------------------------------------
Admin  your age is  22

In [23]:
# Another Object Creation:

stud03 = Student()

print('Object 03: ')
stud03.details()

print('Object 02: ')
stud02.details()

print('Object 01: ')
stud01.details()

Object 03:
Sara  your age is  25
Object 02:
Admin  your age is  22
Object 01:
Developer  your age is  29