Python Operators:
-----------------

1. Arithmatic Operators
2. Arithmatic Assignment Operators
3. Relational or Comparision Operators
4. Logical Operators
5. In & Not In
6. Is & Is Not
7. Bitwise Operators

# 1. Arithmatic Operators :
---------------------------
1. Addition(+)
2. Subtration(-)
3. Multiplication(*)
4. Division(/)
5. Floor Division(//)
6. Exponentiation(**)
7. modulas(%)

In [7]:
print('Addition(+) : ',10 + 2 )

print('Subtration(-) : ',10 - 2 )

print('Multiplication(*) : ',10 * 2 )

print('Division(/) : ',10 / 2 )

print('Floor Division(//) : ',10 // 2 )

print('Exponentiation(**) : ',10 ** 2 ) # 10 * 10 = 100

print('Modulas(%) : ', 7 % 2) # return remainder value

print('Division(/) : ',7 / 2 ) # return qutiont value

Addition(+) :  12
Subtration(-) :  8
Multiplication(*) :  20
Division(/) :  5.0
Floor Division(//) :  5
Exponentiation(**) :  100
Modulas(%) :  1
Division(/) :  3.5

# 2. Arithmatic Assignment Operators
------------------------------------

In [16]:
# Assignment Operators :

a = 10

print('Assignment Operators(=) : ', a)

# Arithmatic Assignment Operators

a = 10
a += 1 # a = a + 1 = a = 10 + 1
print('Arithmatic Assignment Operators (+=) : ', a)

a = 10
a -= 1 # a = a - 1 = a = 10 - 1
print('Arithmatic Assignment Operators (-=) : ', a)

a = 10
a *= 2 # a = a * 2 = a = 10 * 2
print('Arithmatic Assignment Operators (*=) : ', a)

a = 10
a /= 2 # a = a / 2 = a = 10 / 2
print('Arithmatic Assignment Operators (/=) : ', a)

a = 10
a //= 1 
print('Arithmatic Assignment Operators (//=) : ', a)

a = 10
a **= 2
print('Arithmatic Assignment Operators (**=) : ', a)

a = 10
a %= 2 # a = a % 2 = a = 10 * 2
print('Arithmatic Assignment Operators (%=) : ', a)

Assignment Operators(=) :  10
Arithmatic Assignment Operators (+=) :  11
Arithmatic Assignment Operators (-=) :  9
Arithmatic Assignment Operators (*=) :  20
Arithmatic Assignment Operators (/=) :  5.0
Arithmatic Assignment Operators (//=) :  10
Arithmatic Assignment Operators (**=) :  100
Arithmatic Assignment Operators (%=) :  0

# 3. Relational or Comparision Operators
----------------------------------------

1. Equal(==)
2. NotEqual(!=)
3. Greterthan(>)
4. Lessthan(<)
5. Greterthan or Equal(>=)
6. Lessthan or Equal(<=)

In [20]:

age = 20

print('Equal(==) : ', age == 18)

print('NotEqual(!=) : ', age != 18)

print('Greterthan(>) : ', age > 18)

print('Lessthan(<) : ', age < 18)

print('Greterthan or Equal(>=) : ', age >= 18)

print('Lessthan or Equal(<=) : ', age <= 18)

Equal(==) :  False
NotEqual(!=) :  True
Greterthan(>) :  True
Lessthan(<) :  False
Greterthan or Equal(>=) :  True
Lessthan or Equal(<=) :  False

Python Input:
-------------

In [31]:
name = input('Enter your name : ')

print(name, type(name))

age = int(input('Enter your age : '))

print(age, type(age))

birthYear = 2025 - age

print(birthYear)

print('----------------------------------------------')

print(name, ' your age is ', age, ' and your Birth year is ', birthYear)

Enter your name :  admin

admin <class 'str'>

Enter your age :  22

22 <class 'int'>
2003
----------------------------------------------
admin  your age is  22  and your Birth year is  2003

In [ ]:
'''
ToDay Task:
-----------

To Write the python code for below Output.

Output:
-------

Enter a Value 01 : 20

Enter a Value 02 : 10

20 + 10 = 30
20 - 10 = 10
'''

If 
--

In [3]:
age = 20

print(age >= 18)

print('------------------------------------------------')

if age >= 18:
    print(age, ' Eligible for vote')

True
------------------------------------------------
20  Eligible for vote

If Else
-------

In [5]:
age = 10

print(age >= 18)

print('------------------------------------------------')

if age >= 18:
    print(age, ' Eligible for vote')

else:
    print(age, ' Not Eligible for vote')

False
------------------------------------------------
10  Not Eligible for vote

If Elif Else
------------

In [14]:
age = int(input('Enter Your age : '))

print(age > 18)
print(age == 18)
print(age == 17)

print('------------------------------------------------')

if age > 18:
    print(age, ' Eligible for vote')

elif age == 18:
    print(age, ' Now your are 18+')

elif age == 17:
    print(age, ' Wait One Year to have 18+')
    
else:
    print(age, ' Not Eligible for vote')

Enter Your age :  8

False
False
False
------------------------------------------------
8  Not Eligible for vote

# 4. Logical Operators
----------------------

1. and
2. or
3. not

In [18]:
# and Operators

'''
True - True = True
True - False = False
False - True = False
False - False = False
'''

name = 'Dev'

age = 22

print((name == 'Developer'))
print((age == 22))

print('---------------------------------------------')

print((name == 'Developer') and (age == 21))

False
True
---------------------------------------------
False

In [20]:
# or Operators

'''
True - True = True
True - False = True
False - True = True
False - False = False
'''

name = 'Dev'

age = 22

print((name == 'Developer'))
print((age == 22))

print('---------------------------------------------')

print((name == 'Developer') or (age == 22))

False
True
---------------------------------------------
True

In [23]:
# not Operators

'''
True = False
False = True
'''

name = 'Dev'

age = 22

print((name == 'Developer'))
print((age == 22))

print('---------------------------------------------')

print((name == 'Developer') or (age == 22))

print('---------------------------------------------')

print(not((name == 'Developer') or (age == 22)))

False
True
---------------------------------------------
True
---------------------------------------------
False

# 5. In & Not In Operators
--------------------------

In [30]:
details = ['Dev', 22, 'Male', 'TN']

print(details, type(details))

print('-------------------------------------------------')

# In Operators

print('Dev' in details)

print('Developer' in details)

print('-----------------------------------------------------------------------------')

# Not In Operators

print('Dev' not in details)

print('Developer' not in details)

['Dev', 22, 'Male', 'TN'] <class 'list'>
-------------------------------------------------
True
False
-----------------------------------------------------------------------------
False
True

# 6. Is & Is Not
----------------

In [33]:
# Example 01

studentName = 'Dev'

employeeName = 'Dev'

print(id(studentName))

print(id(employeeName))

print('-------------------------------------------------------')

# Is Operators

print(studentName is employeeName)

print('-------------------------------------------------------')

# Is Not Operators

print(studentName is not employeeName)

1894934565472
1894934565472
-------------------------------------------------------
True
-------------------------------------------------------
False

In [34]:
# Example 02

studentDetails = ['Dev', 22, 'Male', 'TN']

employeeDetails = ['Dev', 22, 'Male', 'TN']

print(id(studentDetails))

print(id(employeeDetails))

print('-------------------------------------------------------')

# Is Operators

print(studentDetails is employeeDetails)

print('-------------------------------------------------------')

# Is Not Operators

print(studentDetails is not employeeDetails)

1894940878528
1894941009728
-------------------------------------------------------
False
-------------------------------------------------------
True