List
----

1. List is Collection Of Data Type. It will store Multiple Different Datatype Values can store in single variable
2. It will be declare [ ]

In [1]:
a = [10, 'Sam', 25, 9500912258, True]

print(a, type(a))

[10, 'Sam', 25, 9500912258, True] <class 'list'>

Select a value using Indexing
-----------------------------

In [6]:
a = [10, 'Sam', 25, 9500912258, True, [88, 99, 98]] 

print(a, type(a))

print('---------------------------------------------------')

print(a[1], type(a[1]))

print(a[3], type(a[3]))

print('---------------------------------------------------')

print(a[5], type(a[5]))

print(a[-1], type(a[-1]))

[10, 'Sam', 25, 9500912258, True, [88, 99, 98]] <class 'list'>
---------------------------------------------------
Sam <class 'str'>
9500912258 <class 'int'>
---------------------------------------------------
[88, 99, 98] <class 'list'>
[88, 99, 98] <class 'list'>

Example - 1
-----------

In [13]:
a  = [10, 'Sam', 25, 9500912258, True, [88, 99, 98]] 

print(a)

print('---------------------------------------------------')

print('Student Id : ', a[0])

print('Name : ', a[1])

print('Age : ', a[2])

print('Mobile : ', a[3])

print('Married : ', a[4])

print('Marks : ', a[5])

print('---------------------------------------------------')

print('Mark 01 : ', a[5] [0])

print('Mark 02 : ', a[5] [1])

print('Mark 03 : ', a[5] [2])

[10, 'Sam', 25, 9500912258, True, [88, 99, 98]]
---------------------------------------------------
Student Id :  10
Name :  Sam
Age :  25
Mobile :  9500912258
Married :  True
Marks :  [88, 99, 98]
---------------------------------------------------
Mark 01 :  88
Mark 02 :  99
Mark 03 :  98

List Slicing
------------

variableName [starting Index Position : Ending Index Position - 1 ]

In [20]:
a  = [10, 'Sam', 25, 9500912258, True, [88, 99, 98]] 

print(a)

print('---------------------------------------------------')

print(a[0:3])

print(a[3:5])

print(a[4:])

print(a[:4])

print(a[::-1])

[10, 'Sam', 25, 9500912258, True, [88, 99, 98]]
---------------------------------------------------
[10, 'Sam', 25]
[9500912258, True]
[True, [88, 99, 98]]
[10, 'Sam', 25, 9500912258]
[[88, 99, 98], True, 9500912258, 25, 'Sam', 10]

List Functions:
---------------

In [2]:
age = [18, 15, 20, 25, 22, 10, 25, 20, 22, 25]

print(age, type(age))

[18, 15, 20, 25, 22, 10, 25, 20, 22, 25] <class 'list'>

In [7]:
print('Count : ', age.count(25))

print('Find Index Position : ', age.index(25))

print('To Find Length of Variable values : ', len(age))

print('To Find Maximum value of the Variable values : ', max(age))

print('To Find Minimum value of the Variable values : ', min(age))

print('To Find sum value of the Variable values : ', sum(age))

Count :  3
Find Index Position :  3
To Find Length of Variable values :  10
To Find Maximum value of the Variable values :  25
To Find Minimum value of the Variable values :  10
To Find sum value of the Variable values :  202

# Values remove from the given list
-----------------------------------

In [10]:
# Values remove from the given list

age = [18, 15, 20, 25, 22, 10, 25, 20, 22, 25]

print(age, type(age))

print('------------------------------------------------------------')

age.pop() # To remove last index value

print(age)

print('------------------------------------------------------------')

age.pop(1) # To remove selected index value

print(age)

print('------------------------------------------------------------')

age.remove(25) # To remove selected value

print(age)

[18, 15, 20, 25, 22, 10, 25, 20, 22, 25] <class 'list'>
------------------------------------------------------------
[18, 15, 20, 25, 22, 10, 25, 20, 22]
------------------------------------------------------------
[18, 20, 25, 22, 10, 25, 20, 22]
------------------------------------------------------------
[18, 20, 22, 10, 25, 20, 22]

# Values add from after list variable declaration
-------------------------------------------------

In [15]:
studentDetails = [10, 'Sara', 25]

print(studentDetails)

print('------------------------------------------')

# Use append method

studentDetails.append(9500912258)

studentDetails.append('sara@gmail.com')

print(studentDetails)

print('------------------------------------------')

studentBankDetails = ['SIB0001', 'Sara Dev']

# Use Extend method

studentDetails.extend(studentBankDetails)

print(studentDetails)

[10, 'Sara', 25]
------------------------------------------
[10, 'Sara', 25, 9500912258, 'sara@gmail.com']
------------------------------------------
[10, 'Sara', 25, 9500912258, 'sara@gmail.com', 'SIB0001', 'Sara Dev']

# Sorting (Ascending or descending)
-----------------------------------

In [18]:
age = [18, 15, 20, 25, 22, 10, 25, 20, 22, 25]

print(age, type(age))

print('------------------------------------------------------')

age.sort()

print(age)

print('------------------------------------------------------')

age.sort(reverse=True)

print(age)

[18, 15, 20, 25, 22, 10, 25, 20, 22, 25] <class 'list'>
------------------------------------------------------
[10, 15, 18, 20, 20, 22, 22, 25, 25, 25]
------------------------------------------------------
[25, 25, 25, 22, 22, 20, 20, 18, 15, 10]